
body {
  background-color: snow;
  font-size: 22px;
}
h1 {
  color: slategrey;
  background-color: snow;
   }
p {
  color: slategrey;
  background-color: snow;
  border: 2px solid blue;
  padding: 30px;
}
