
body {
  background-color: seashell;
  font-size: 22px;
}
h1 {
  color: slategrey;
  background-color: seashell;
   }
p {
  color: slategrey;
  background-color: seashell;
  border: 2px silver;
  padding: 30px;
}
